<div class="mainarea">

<h2>New work</h2>
<div class="border">

  <div class="row">
    <form class="col s12" action="/manager/newwork" method="POST">

      <div class="row">
        <div class="input-field col s6">
          <h5>Primary Info</h5>
          <p>Primary First name - {{sample.pfirstname}}</p>
          <p>Primary Last name - {{sample.plastname}}</p>
          <p>Primary E-mail - {{sample.pemail}}</p>
          <p>Primary Phone - {{sample.pphone}}</p>
        </div>
        <div class="input-field col s6">
          <h5>The Student Info</h5>
          <p>First name - {{sample.firstname}}</p>
          <p>Last name - {{sample.lastname}}</p>
          <p>E-mail - {{sample.email}}</p>
          <p>Phone - {{sample.phone}}</p>
          <p>Zip code - {{sample.zipcode}} </p>
          <p>Address - {{sample.address}} </p>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="subject1" type="text" class="validate">
          <label for="subject1">Subject</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <div class="input-field col s6">
          <input id="subject2" type="text" class="validate">
          <label for="subject2">Subsubject</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="enroll" type="number" class="validate">
          <label for="enroll">Enroll Hours</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
      </div>

      <button class="btn-large waves-effect waves-light" type="submit" name="action btn">
        Submit
        <i class="material-icons right">send</i>
      </button>

    </form>
  </div>

</div>
</div>
