<div class="mainarea">

<h2>Students &nbsp; {{numstudents}}</h2>

<div class="border">

  <div class="row">
    <form class="col s12" action="/manager/rowsnumber" method="POST">

      <div class="row">
        <div class="input-field col s6">
          <input id="rnumber" type="number" name="rowsnumber" class="validate">
          <label for="rnumber">Rows number</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
      </div>

<button class="btn-small waves-effect waves-light" type="submit" name="action btn">
  Submit
  <i class="material-icons right">send</i>
</button>

    </form>
  </div>


     numrows - {{numrows}} np - {{np}}  Total pages = {{pagitems}}
  <ul class="collection">
    {{#each students}}
      <li class="collection-item avatar valign-wrapper"> 
          <i class="material-icons circle" title="Open">child_care</i>
        <span class="title">{{firstname}} {{lastname}}</span>
        <a href="#!" class="secondary-content seccont">
          <i class="material-icons" title="Edit" onclick="alert('{{email}}')">edit</i>
        </a>
        <a href="#!" class="secondary-content">
          <i class="material-icons" title="Delete" onclick="alert('{{lastname}}')">delete_forever</i>
        </a>
      </li>
    {{/each}} 
  </ul>

  {{#eq pagitems 1}}
  <ul class="pagination">

    {{!-- Arrows  --}}
    {{#lte np 1}}
    <li class="disabled"><a href="/manager/students/1"><i class="material-icons">first_page</i></a></li>
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {{/lte}}

    {{!-- The Active number --}}
    <li class="waves-effect active"><a href="/manager/students/{{np}}">{{np}}</a></li>

    {{!-- Arrows --}}
    {{#gte np pagitems}}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    <li class="disabled"><a href="#!"><i class="material-icons">last_page</i></a></li>
    {{/gte}}

  </ul>
  {{/eq}}

  {{#or (eq pagitems 2) (eq pagitems 3)}}
  <ul class="pagination">

    {{!-- Arrows  --}}
    {{#lte np 1}}
    <li class="disabled"><a href="/manager/students/1"><i class="material-icons">first_page</i></a></li>
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {{/lte}}
    {{#gt np 1}}
    <li class="waves-effect"><a href="/manager/students/1"><i class="material-icons">first_page</i></a></li>
    <li class="waves-effect"><a href="/manager/students/{{subtract np 1}}"><i class="material-icons">chevron_left</i></a></li>
    {{/gt}}

    {{!-- 2 First numders--}}
    {{#gte np 3}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 2}}">{{subtract np 2}}</a></li>
    {{/gte}}
    {{#gte np 2}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 1}}">{{subtract np 1}}</a></li>
    {{/gte}}

    {{!-- The Active number --}}
    <li class="waves-effect active"><a href="/manager/students/{{np}}">{{np}}</a></li>

    {{!-- 2 Last numbers --}}
    {{#lte np (subtract pagitems 1)}}
    <li class="waves-effect"><a href="/manager/students/{{add np 1}}">{{add np 1}}</a></li>
    {{/lte}}
    {{#lte np (subtract pagitems 2)}}
    <li class="waves-effect"><a href="/manager/students/{{add np 2}}">{{add np 2}}</a></li>
    {{/lte}}

    {{!-- Arrows --}}
    {{#lt np pagitems}}
    <li class="waves-effect"><a href="/manager/students/{{add np 1}}"><i class="material-icons">chevron_right</i></a></li>
    <li class="waves-effect"><a href="/manager/students/{{pagitems}}"><i class="material-icons">last_page</i></a></li>
    {{/lt}}
    {{#gte np pagitems}}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    <li class="disabled"><a href="#!"><i class="material-icons">last_page</i></a></li>
    {{/gte}}

  </ul>
  {{/or}}

  {{#eq pagitems 4}}
  <ul class="pagination">

    {{!-- Arrows  --}}
    {{#lte np 1}}
    <li class="disabled"><a href="/manager/students/1"><i class="material-icons">first_page</i></a></li>
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {{/lte}}
    {{#gt np 1}}
    <li class="waves-effect"><a href="/manager/students/1"><i class="material-icons">first_page</i></a></li>
    <li class="waves-effect"><a href="/manager/students/{{subtract np 1}}"><i class="material-icons">chevron_left</i></a></li>
    {{/gt}}

    {{!-- 3 First numders--}}
    {{#gte np 4}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 3}}">{{subtract np 3}}</a></li>
    {{/gte}}
    {{#gte np 3}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 2}}">{{subtract np 2}}</a></li>
    {{/gte}}
    {{#gte np 2}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 1}}">{{subtract np 1}}</a></li>
    {{/gte}}

    {{!-- The Active number --}}
    <li class="waves-effect active"><a href="/manager/students/{{np}}">{{np}}</a></li>

    {{!-- 2 Last numbers --}}
    {{#lte np (subtract pagitems 1)}}
    <li class="waves-effect"><a href="/manager/students/{{add np 1}}">{{add np 1}}</a></li>
    {{/lte}}
    {{#lte np (subtract pagitems 2)}}
    <li class="waves-effect"><a href="/manager/students/{{add np 2}}">{{add np 2}}</a></li>
    {{/lte}}
    {{#lte np (subtract pagitems 3)}}
    <li class="waves-effect"><a href="/manager/students/{{add np 3}}">{{add np 3}}</a></li>
    {{/lte}}


    {{!-- Arrows --}}
    {{#lt np pagitems}}
    <li class="waves-effect"><a href="/manager/students/{{add np 1}}"><i class="material-icons">chevron_right</i></a></li>
    <li class="waves-effect"><a href="/manager/students/{{pagitems}}"><i class="material-icons">last_page</i></a></li>
    {{/lt}}
    {{#gte np pagitems}}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    <li class="disabled"><a href="#!"><i class="material-icons">last_page</i></a></li>
    {{/gte}}

  </ul>
  {{/eq}}

  {{#gte pagitems 5}}
  <ul class="pagination">

    {{!-- Arrows  --}}
    {{#lte np 1}}
    <li class="disabled"><a href="/manager/students/1"><i class="material-icons">first_page</i></a></li>
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {{/lte}}
    {{#gt np 1}}
    <li class="waves-effect"><a href="/manager/students/1"><i class="material-icons">first_page</i></a></li>
    <li class="waves-effect"><a href="/manager/students/{{subtract np 1}}"><i class="material-icons">chevron_left</i></a></li>
    {{/gt}}

    {{!-- Additional first numbers for big numbers --}}
    {{#gte np (subtract pagitems 0)}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 4}}">{{subtract np 4}}</a></li>
    {{/gte}}
    {{#gte np (subtract pagitems 1)}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 3}}">{{subtract np 3}}</a></li>
    {{/gte}}

    {{!-- 2 First numders--}}
    {{#gte np 3}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 2}}">{{subtract np 2}}</a></li>
    {{/gte}}
    {{#gte np 2}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 1}}">{{subtract np 1}}</a></li>
    {{/gte}}

    {{!-- The Active number --}}
    <li class="waves-effect active"><a href="/manager/students/{{np}}">{{np}}</a></li>

    {{!-- 2 Last numbers --}}
    {{#lte np (subtract pagitems 1)}}
    <li class="waves-effect"><a href="/manager/students/{{add np 1}}">{{add np 1}}</a></li>
    {{/lte}}
    {{#lte np (subtract pagitems 2)}}
    <li class="waves-effect"><a href="/manager/students/{{add np 2}}">{{add np 2}}</a></li>
    {{/lte}}

    {{!-- Additional back numbers for small numbers --}}
    {{#lte np 2}}
    <li class="waves-effect"><a href="/manager/students/{{add np 3}}">{{add np 3}}</a></li>
    {{/lte}}
    {{#lte np 1}}
    <li class="waves-effect"><a href="/manager/students/{{add np 4}}">{{add np 4}}</a></li>
    {{/lte}}

    {{!-- Arrows --}}
    {{#lt np pagitems}}
    <li class="waves-effect"><a href="/manager/students/{{add np 1}}"><i class="material-icons">chevron_right</i></a></li>
    <li class="waves-effect"><a href="/manager/students/{{pagitems}}"><i class="material-icons">last_page</i></a></li>
    {{/lt}}
    {{#gte np pagitems}}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    <li class="disabled"><a href="#!"><i class="material-icons">last_page</i></a></li>
    {{/gte}}

  </ul>
  {{/gte}}

</div>
</div>
