<div class="mainarea">

<h2>Students &nbsp;({{numstudents}})</h2>

<div class="border">

  <div class="collection">
    {{#each students}}
      <a class="collection-item avatar valign-wrapper modal-trigger" href="#modal1{{_id}}"> 
          <i class="material-icons circle" title="Open">child_care</i>
        <span class="title">{{firstname}} {{lastname}}</span>
        <p>{{zipcode}} <br>
         {{phone}} <br>
         id - {{_id}}
      </p>
        {{!-- <a href="#!" class="secondary-content seccont">
          <i class="material-icons" title="Edit" onclick="alert('{{email}}')">edit</i>
        </a>
        <a href="#!" class="secondary-content">
          <i class="material-icons" title="Delete" onclick="alert('{{lastname}}')">delete_forever</i>
        </a> --}}
      </a>

      <!-- Modal Structure -->
      <div id="modal1{{_id}}" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>The Student Info</h4>
          <p>First name - {{firstname}}</p>
          <p>Last name - {{lastname}}</p>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>        </div>
      </div>

    {{/each}} 
  </div>

  {{#eq pagitems 1}}
  <ul class="pagination">

    {{!-- Lefr arrows  --}}
    {{#lte np 1}}
    {{!-- <li class="disabled"><a href=""><i class="material-icons">first_page</i></a></li>
    <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li> --}}
    {{/lte}}

    {{!-- The active number --}}
    <li class="waves-effect active"><a href="/manager/students/{{np}}">{{np}}</a></li>

    {{!-- Right arrows --}}
    {{#gte np pagitems}}
    {{!-- <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
    <li class="disabled"><a href=""><i class="material-icons">last_page</i></a></li>
    The last page = {{pagitems}} --}}
    {{/gte}}

  </ul>
  {{/eq}}

  {{#or (eq pagitems 2) (eq pagitems 3)}}
  <ul class="pagination">

    {{!-- Left arrows  --}}
    {{#lte np 1}}
    {{!-- <li class="disabled"><a href=""><i class="material-icons">first_page</i></a></li>
    <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li> --}}
    {{/lte}}
    {{#gt np 1}}
    <li class="waves-effect"><a href="/manager/students/1"><i class="material-icons">first_page</i></a></li>
    <li class="waves-effect"><a href="/manager/students/{{subtract np 1}}"><i class="material-icons">chevron_left</i></a></li>
    {{/gt}}

    {{!-- 2 left numders--}}
    {{#gte np 3}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 2}}">{{subtract np 2}}</a></li>
    {{/gte}}
    {{#gte np 2}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 1}}">{{subtract np 1}}</a></li>
    {{/gte}}

    {{!-- The active number --}}
    <li class="waves-effect active"><a href="/manager/students/{{np}}">{{np}}</a></li>

    {{!-- 2 right numbers --}}
    {{#lte np (subtract pagitems 1)}}
    <li class="waves-effect"><a href="/manager/students/{{add np 1}}">{{add np 1}}</a></li>
    {{/lte}}
    {{#lte np (subtract pagitems 2)}}
    <li class="waves-effect"><a href="/manager/students/{{add np 2}}">{{add np 2}}</a></li>
    {{/lte}}

    {{!-- Right arrows --}}
    {{#lt np pagitems}}
    <li class="waves-effect"><a href="/manager/students/{{add np 1}}"><i class="material-icons">chevron_right</i></a></li>
    <li class="waves-effect"><a href="/manager/students/{{pagitems}}"><i class="material-icons">last_page</i></a></li>
    The last page = {{pagitems}}
    {{/lt}}
    {{#gte np pagitems}}
    {{!-- <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
    <li class="disabled"><a href=""><i class="material-icons">last_page</i></a></li>
    The last page = {{pagitems}} --}}
    {{/gte}}

  </ul>
  {{/or}}

  {{#eq pagitems 4}}
  <ul class="pagination">

    {{!-- Left arrows  --}}
    {{#lte np 1}}
    {{!-- <li class="disabled"><a href=""><i class="material-icons">first_page</i></a></li>
    <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li> --}}
    {{/lte}}
    {{#gt np 1}}
    <li class="waves-effect"><a href="/manager/students/1"><i class="material-icons">first_page</i></a></li>
    <li class="waves-effect"><a href="/manager/students/{{subtract np 1}}"><i class="material-icons">chevron_left</i></a></li>
    {{/gt}}

    {{!-- 3 left numders--}}
    {{#gte np 4}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 3}}">{{subtract np 3}}</a></li>
    {{/gte}}
    {{#gte np 3}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 2}}">{{subtract np 2}}</a></li>
    {{/gte}}
    {{#gte np 2}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 1}}">{{subtract np 1}}</a></li>
    {{/gte}}

    {{!-- The active number --}}
    <li class="waves-effect active"><a href="/manager/students/{{np}}">{{np}}</a></li>

    {{!-- 2 right numbers --}}
    {{#lte np (subtract pagitems 1)}}
    <li class="waves-effect"><a href="/manager/students/{{add np 1}}">{{add np 1}}</a></li>
    {{/lte}}
    {{#lte np (subtract pagitems 2)}}
    <li class="waves-effect"><a href="/manager/students/{{add np 2}}">{{add np 2}}</a></li>
    {{/lte}}
    {{#lte np (subtract pagitems 3)}}
    <li class="waves-effect"><a href="/manager/students/{{add np 3}}">{{add np 3}}</a></li>
    {{/lte}}


    {{!-- Right arrows --}}
    {{#lt np pagitems}}
    <li class="waves-effect"><a href="/manager/students/{{add np 1}}"><i class="material-icons">chevron_right</i></a></li>
    <li class="waves-effect"><a href="/manager/students/{{pagitems}}"><i class="material-icons">last_page</i></a></li>
    The last page = {{pagitems}}
    {{/lt}}
    {{#gte np pagitems}}
    {{!-- <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
    <li class="disabled"><a href=""><i class="material-icons">last_page</i></a></li>
    The last page = {{pagitems}} --}}
    {{/gte}}

  </ul>
  {{/eq}}

  {{#gte pagitems 5}}
  <ul class="pagination">

    {{!-- Left arrows  --}}
    {{#lte np 1}}
    {{!-- <li class="disabled"><a href=""><i class="material-icons">first_page</i></a></li>
    <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li> --}}
    {{/lte}}
    {{#gt np 1}}
    <li class="waves-effect"><a href="/manager/students/1"><i class="material-icons">first_page</i></a></li>
    <li class="waves-effect"><a href="/manager/students/{{subtract np 1}}"><i class="material-icons">chevron_left</i></a></li>
    {{/gt}}

    {{!-- Additional left numbers for big numbers --}}
    {{#gte np (subtract pagitems 0)}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 4}}">{{subtract np 4}}</a></li>
    {{/gte}}
    {{#gte np (subtract pagitems 1)}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 3}}">{{subtract np 3}}</a></li>
    {{/gte}}

    {{!-- 2 left numders--}}
    {{#gte np 3}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 2}}">{{subtract np 2}}</a></li>
    {{/gte}}
    {{#gte np 2}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 1}}">{{subtract np 1}}</a></li>
    {{/gte}}

    {{!-- The active number --}}
    <li class="waves-effect active"><a href="/manager/students/{{np}}">{{np}}</a></li>

    {{!-- 2 right numbers --}}
    {{#lte np (subtract pagitems 1)}}
    <li class="waves-effect"><a href="/manager/students/{{add np 1}}">{{add np 1}}</a></li>
    {{/lte}}
    {{#lte np (subtract pagitems 2)}}
    <li class="waves-effect"><a href="/manager/students/{{add np 2}}">{{add np 2}}</a></li>
    {{/lte}}

    {{!-- Additional right numbers for small numbers --}}
    {{#lte np 2}}
    <li class="waves-effect"><a href="/manager/students/{{add np 3}}">{{add np 3}}</a></li>
    {{/lte}}
    {{#lte np 1}}
    <li class="waves-effect"><a href="/manager/students/{{add np 4}}">{{add np 4}}</a></li>
    {{/lte}}

    {{!-- Right arrows --}}
    {{#lt np pagitems}}
    <li class="waves-effect"><a href="/manager/students/{{add np 1}}"><i class="material-icons">chevron_right</i></a></li>
    <li class="waves-effect"><a href="/manager/students/{{pagitems}}"><i class="material-icons">last_page</i></a></li>
    The last page = {{pagitems}}
    {{/lt}}
    {{#gte np pagitems}}
    {{!-- <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
    <li class="disabled"><a href=""><i class="material-icons">last_page</i></a></li>
    The last page = {{pagitems}} --}}
    {{/gte}}

  </ul>
  {{/gte}}

</div>



</div>
