<div class="mainarea">

<h2>Students &nbsp; {{numstudents}}</h2>

<div class="border">

  <ul class="collection">

    {{!-- {{students.length}}  {{times 6 (floor (divide students.length 10))}} --}}
    numrows - {{numrows}} np - {{np}}
    {{#each students}}
      <li class="collection-item avatar"> 
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <p>{{firstname}} {{lastname}}</p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    {{/each}} 
  </ul>

  Total pages = {{pagitems}}
  <ul class="pagination">

    <li class="waves-effect"><a href="/manager/students/1"><i class="material-icons">first_page</i></a></li>
    {{#lte np 1}}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {{/lte}}
    {{#gt np 1}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 1}}"><i class="material-icons">chevron_left</i></a></li>
    {{/gt}}

    {{#gte np 3}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 2}}">{{subtract np 2}}</a></li>
    {{/gte}}
    {{#gte np 2}}
    <li class="waves-effect"><a href="/manager/students/{{subtract np 1}}">{{subtract np 1}}</a></li>
    {{/gte}}

    <li class="waves-effect active"><a href="/manager/students/{{np}}">{{np}}</a></li>
    <li class="waves-effect"><a href="/manager/students/{{add np 1}}">{{add np 1}}</a></li>
    <li class="waves-effect"><a href="/manager/students/{{add np 2}}">{{add np 2}}</a></li>

    {{!-- for small numbers --}}
    {{#lte np 2}}
    <li class="waves-effect"><a href="/manager/students/{{add np 3}}">{{add np 3}}</a></li>
    {{/lte}}
    {{#lte np 1}}
    <li class="waves-effect"><a href="/manager/students/{{add np 4}}">{{add np 4}}</a></li>
    {{/lte}}

    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    <li class="waves-effect"><a href="/manager/students/{{pagitems}}"><i class="material-icons">last_page</i></a></li>

  </ul>

</div>
</div>
